body {
    margin: 0px;
    height: 960px;
    padding: 10px;
    background: linear-gradient(rgb(190, 159, 159), white);
}

header {
    position: sticky;
    top: 0;
    z-index: 99;
    text-align: center;
    margin: 10px;
    color: #032646;
    background: #cacaca;
    padding: 2px;
    border: solid 2px rgb(19, 19, 71);
    border-radius: 10px;
}

header h1 {
    min-height: 50px;
    font-size: xx-large;
}

.boxen{
        position: relative;
        width: 960px;
        height: 600px;
        margin-left: 30%;
    margin-top: 15px;
        font-family: monospace;
        padding: 10px;
        align-content: center;
        font-weight: 600;
        letter-spacing: 0.05em;
        background-color: rgb(241, 228, 210);
        border: solid 2px rgb(19, 19, 71);
        border-radius: 10px;
        letter-spacing: 0.05em;
    
    }

.titel {
    font-size: large;
    padding: 20px;
    text-align: center;
}

.box1 {
    text-align: center;
    font-size: medium;
    font-weight: 600;
    color: blueviolet;
    padding: 20px;

    
}
/* Navigation */
.sidebar {

    float: left;
    margin-left: 10px;
    padding: 0px;
    width: 200px;
    background-color: #cacaca;
    height: 100%;
    overflow: auto;
    border: solid 1px rgb(7, 7, 78);
    border-radius: 2px;
  }
  
  /* Sidebar länkar */
  .sidebar a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    border: solid 1px rgb(7, 7, 78);
    border-radius: 2px;
  }
  
  /* Aktiva länkar */
  .sidebar a.active {
    background: linear-gradient(#032646,#7990a5);
    color: white;
  }
  
  /* Hover */
  .sidebar a:hover:not(.active) {
    background: linear-gradient(#98a7b6, #dfe6ec);
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
